<template>
  <time v-b-tooltip.hover="fullDate" :datetime="datetime">{{ humanDate }}</time>
</template>

<script>
  import { format, distanceInWordsStrict } from 'date-fns';

  export default {
    name: 'DateTime',
    props: {
      date: {
        required: true,
        type: [Number, String, Date],
      },
      relative: {
        required: false,
        type: Boolean,
        default: true,
      },
      refresh: {
        required: false,
        type: Boolean,
        default: true,
      }
    },
    data: () => ({
      now: new Date(),
    }),
    computed: {
      datetime() {
        return format(this.date, 'YYYY-MM-DDTHH:mm:ssZ');
      },
      fullDate() {
        return format(this.date, 'dddd MMM Do YYYY, HH:mm');
      },
      humanDate() {
        const date = new Date(this.date);

        if (!this.relative) {
          return date.getFullYear() === this.now.getFullYear() ? format(date, 'MMMM DD') : format(date, 'MMMM DD, YYYY');
        }

        if (new Date() - date < 1000) {
          return 'just now';
        }

        return distanceInWordsStrict(this.now, date, {
          addSuffix: true,
        });
      }
    },
    mounted() {
      if (this.refresh) {
        this.$_interval = setInterval(() => this.now = new Date(), this.getTimeToUpdate(this.date) * 1000);
      }
    },
    beforeDestroy() {
      if (this.$_interval) {
        clearInterval(this.$_interval);
      }
    },
    methods: {
      getTimeToUpdate(value) {
        const date = new Date(value);
        const now = new Date();
        const timeFromNow = Math.abs(now.getTime() - date.getTime()) / 1000;

        // less than an hour, update every 30 secs
        if (timeFromNow < 60 * 60) {
          return 30;
        }

        // less then a day, update every 5 mins
        if (timeFromNow < 60 * 60 * 24) {
          return 60 * 5;
        }

        // update every hour
        return 60 * 60;
      },
    },
  }
</script>

<style lang="scss">
  @import '../../../scss/core';
</style>
