<template>
  <div v-show="commentsCount" class="NewsCommentList">
    <div class="NewsCommentList-header">
      <a v-show="comments.length < commentsCount" href @click.prevent="loadMore()">
        View previous comments
      </a>
      <span class="NewsCommentList-counter">{{ comments.length }}/{{ commentsCount }}</span>
    </div>
    <ul class="NewsCommentList-list list-unstyled">
      <li v-for="comment in comments" :key="comment.id" class="NewsComment">
        <a class="NewsComment-avatar" href>
          <img :src="comment.owner.avatar" :alt="comment.owner.name" width="30" height="30">
        </a>
        <div class="NewsComment-content">
          <div class="NewsComment-header">
            <a class="NewsComment-username" href>{{ comment.owner.name }}</a>
            <DateTime :date="comment.creation_date" class="NewsComment-date" />
            <a href class="NewsComment-remove fa fa-trash-o" @click.prevent="remove(comment)"/>
          </div>
          <div class="NewsComment-text">{{ comment.content }}</div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  import DateTime from '../../UI/DateTime/DateTime.vue';
  import Avatar from '../../UI/Avatar/Avatar.vue';

  export default {
    name: 'NewsCommentList',
    components: {
      DateTime,
      Avatar,
    },
    props: {
      comments: {
        type: Array,
        required: true,
      },
      commentsCount: {
        type: Number,
        required: true,
      }
    },
    methods: {
      loadMore() {
        this.$emit('comments-load-more');
      },
      remove(comment) {
        this.$emit('comment-remove', comment);
      },
    }
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .NewsCommentList {
    padding: 10px 15px;
    background-color: #f7f7f7;
    font-size: 12px;

    &-header {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }

    &-counter {
      margin-left: auto;
    }

    &-list {
      margin-bottom: 0;
    }
  }

  .NewsComment {
    display: flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-avatar {
      margin-top: 5px;
      margin-right: 10px;
    }

    &-content {
      flex: 1 1 0%;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-username {
      margin-right: auto;
    }

    &-remove {
      margin-left: 5px;
    }

    &-date {
      font-size: 11px;
    }
  }
</style>
