<template>
  <div class="NewsForm">
    <div class="NewsForm-messenger">
      <Avatar v-if="avatar" :src="avatar" class="NewsForm-messenger-img" />
      <div :class="{'no-picture': !avatar}" class="NewsForm-messenger-control-container">
        <textarea
          v-model="news.content"
          :placeholder="placeholder"
          :class="{'is-expanded': expanded, 'is-empty': !news.message, 'is-disabled': disabled}"
          class="NewsForm-messenger-control"
          @blur="expanded = !!news.message"
          @focus="expanded=true"
        />
      </div>
    </div>
    <div class="NewsForm-messenger-actions">
      <div class="share-update-addmedia">
        <a v-b-tooltip.hover="'Add pictures'" href class="fa fa-camera"/>
        <a v-b-tooltip.hover="'Add documents'" v-if="allowPdf" href class="fa fa-file-text"/>
      </div>
      <b-button
        :disabled="isLoading"
        class="NewsForm-btn"
        variant="primary"
        size="sm"
        @click="submit()"
      >
        Publish
      </b-button>
    </div>
  </div>
</template>

<script>
  import Avatar from '../../UI/Avatar/Avatar.vue';

  export default {
    name: 'NewsForm',
    components: {
      Avatar,
    },
    props: {
      avatar: {
        type: String,
        required: false,
        default: null,
      },
      placeholder: {
        type: String,
        required: false,
        default: 'Share something with my network'
      },
      allowPdf: {
        type: Boolean,
        required: false,
        default: false,
      },
      isLoading: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    data: () => ({
      expanded: false,
      news: {},
      disabled: '',
    }),
    methods: {
      submit() {
        if (!this.news.content) {
          return;
        }

        this.$emit('news-published', this.news);
        this.news = {};
      }
    }
  }
</script>

<style lang="scss">
  @import '../../../scss/core';
  
  .NewsForm {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #d5d5d5;

    &-btn {
      margin-left: auto;
    }

    &-messenger {
      display: flex;
      margin-bottom: 10px;

      &-actions {
        display: flex;
        width: 100%;
      }

      &-control {
        font-size: 0.875rem;
        transition: border 0.25s ease-in;
        border: 0;
        border-bottom: 1px solid #e4e4e4;
        background-color: #fff;
        padding: 10px 10px 10px 0;
        overflow: visible;
        position: relative;
        min-width: 1%;
        z-index: 2;
        width: 100%;
        height: 45px;
        word-wrap: break-word;
        white-space: pre-line;
        outline: none;

        &.is-expanded {
          height: auto;
        }

        &-container {
          padding-left: 15px;
          position: relative;
          flex: 1 1 0;
          min-width: 1%;
        }
      }
    }
  }
</style>
