<template>
  <div class="SelectBox-container">
    <input
      v-model="userInput"
      :placeholder="placeholder"
      :disabled="disabled"
      type="text"
      @input="onChange"
      @focus="onChange"
      @keydown="onKeyDown"
    >
    <div v-if="showSuggestions" class="SelectBox-menu">
      <em v-if="isLoading">
        Loading...
      </em>
      <em v-else-if="filtered.length === 0">
        No suggestions, you're on your own!
      </em>
      <div 
        v-for="(suggestion, index) in filtered"
        v-else 
        :key="getLabel(suggestion)"
        :class="{'is-active': index === activeIndex}"
        class="SelectBox-suggestion"
        @click="commitValue(suggestion)"
      >
        <slot :item="suggestion">{{ getLabel(suggestion) }}</slot>
      </div>
    </div>
  </div>
</template>

<script>
  import { escapeRegExp } from 'lodash-es';
  import TextBox from './TextBox.vue';

  export default {
    name: 'SelectBox',
    components: {
      TextBox,
    },
    props: {
      suggestions: {
        type: [Array, Function],
        default: () => [],
        required: true,
      },
      placeholder: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      minLength: {
        type: Number,
        default: 2,
      },
      limit: {
        type: Number,
        default: 8,
      },
      labelKey: {
        type: String,
        default: 'name',
      }
    },
    data: () => ({
      userInput: '',
      showSuggestions: false,
      activeIndex: 0,
      isLoading: false,
      filtered: []
    }),
    methods: {
      onChange() {
        let userInput = this.userInput;

        if (userInput.length < this.minLength) {
          this.showSuggestions = false;
          return;
        }

        this.activeIndex = 0;
        this.showSuggestions = true;

        if (Array.isArray(this.suggestions)) {
          if (userInput.length === 0) {
            this.setFiltered(this.suggestions);
          } else {
            const exp = RegExp(escapeRegExp(userInput), 'i');
            this.setFiltered(this.suggestions.filter(item => this.getLabel(item).match(exp) !== null));
          }
        } else {
          this.isLoading = true;

          this.suggestions(userInput).then(results => {
            this.setFiltered(results);
            this.isLoading = false;
          });
        }
      },
      onKeyDown(e) {
        // eslint-disable-next-line default-case
        switch (e.key) {
          case 'Enter':
            this.commitValue(this.filtered[this.activeIndex]);
            break;

          case 'ArrowUp':
            this.activeIndex = this.activeIndex > 0 ? this.activeIndex - 1 : 0;
            break;

          case 'ArrowDown':
            this.activeIndex = this.activeIndex < this.filtered.length - 1 ? this.activeIndex + 1 : this.filtered.length - 1;
            break;

          case 'Escape':
            this.showSuggestions = false;
            break;
        }
      },
      commitValue(value) {
        this.showSuggestions = false;
        this.userInput = this.getLabel(value);
        this.$emit('change', value);
      },
      setFiltered(filtered) {
        this.filtered = filtered.slice(0, this.limit);
      },
      getLabel(item) {
        if (typeof item === 'string') {
          return item;
        }

        return item[this.labelKey];
      }
    }
  }
</script>

<style lang="scss">
  @import "../../scss/core";

  .SelectBox {
    &-container {
      display: table;
      position: relative;
    }

    &-suggestion {
      padding: 2px 10px;

      &:hover {
        background-color: #ccc;
      }

      &.is-active {
        background-color: $primary;
        color: #fff;
      }
    }
  }
</style>
