<template>
  <textarea v-if="type === 'textarea'" :placeholder="placeholder" class="TextBox" v-on="listeners" />
  <input 
    v-else 
    :type="type" 
    :placeholder="placeholder" 
    class="TextBox" 
    v-on="listeners"
  >
</template>

<script>
  export default {
    name: 'TextBox',
    props: {
      type: {
        type: String,
        required: true,
      },
      placeholder: {
        type: String,
        default: '',
      }
    },
  }
</script>

<style lang="scss">
  .TextBox {
    border: 1px solid #ccc;
    padding: 4px 8px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: none;
  }
</style>
