<template>
  <footer id="footer" class="hosco-footer">
    <div class="hosco-footer-container">
      <ul class="hosco-footer-about list-unstyled">
        <li>
          &copy; 2018 Hosco
        </li>
        <li>
          <a href="https://www.hosco.com/en/about-us/">Qui sommes-nous ?</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/contact">Contact</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/terms-and-conditions/">Conditions d'utilisation</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/privacy-policy/">Politique de confidentialité</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/members-faq/">FAQ</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/talent-search/">Talent Search</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/browse-members">Membres</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/browse-companies">Entreprises</a>
        </li>
        <li>
          <a href="https://www.hosco.com/en/browse-schools">Ecoles</a>
        </li>
      </ul>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'HoscoFooter',
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .hosco-footer {
    background: #1a2d3a;
    position: relative;
    z-index: 2;

    &-container {
      width: 90%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 30px 0;
      position: relative;
    }

    &-about {
      color: #fff;
      font-size: 0.8125rem;
      line-height: 1.8em;
      display: table;
      letter-spacing: -0.5em;
      margin: 10px auto 0;

      li {
        display: inline-block;
        letter-spacing: normal;
        margin-right: 15px;

        &:first-child {
          font-family: Montserrat, sans-serif;
        }
      }

      a {
        color: #fff;
      }
    }
  }
</style>
