<template>
  <header :class="{'is-fixed': fixed}" class="hosco-navbar">
    <b-navbar toggleable="md" type="light" variant="white">
      <b-navbar-toggle target="nav_collapse"/>

      <b-navbar-brand href="#">
        <img src="https://www.hosco.com/images/home/hosco-blue@2x.png" alt="Hosco" width="105">
      </b-navbar-brand>

      <b-collapse id="nav_collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="{ name: 'home' }">Accueil</b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/advice">Advice</b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/directory/jobs">Offers</b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/directory/companies">Companies</b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/directory/schools">Schools</b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/directory/members">Members</b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/inbox">
            <AppHeaderIcon icon="fa fa-envelope-o" />
          </b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/notifications">
            <AppHeaderIcon icon="fa fa-bell-o" />
          </b-nav-item>
          <b-nav-item href="https://www.hosco.com/en/pending-connections">
            <AppHeaderIcon :count="3" icon="fa fa-user-plus" />
          </b-nav-item>

          <b-nav-item-dropdown right no-caret class="profile-dropdown">
            <template slot="button-content">
              <img src="https://www.hosco.com/image/logo/42332/40/40">
            </template>
            <b-dropdown-item href="https://www.hosco.com/en/member/clement-grimault">
              <i class="fa fa-user fa-fw"/> Profile
            </b-dropdown-item>
            <b-dropdown-item href="https://www.hosco.com/en/settings/account">
              <i class="fa fa-cogs fa-fw"/> Account settings
            </b-dropdown-item>
            <b-dropdown-item href="https://www.hosco.com/en/settings/notifications">
              <i class="fa fa-bell fa-fw"/> Notification settings
            </b-dropdown-item>
            <b-dropdown-item href="https://www.hosco.com/en/auth/logout">
              <i class="fa fa-unlock fa-fw"/> Logout
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </header>
</template>

<script>
  import Vue from 'vue';
  import { Navbar } from 'bootstrap-vue/es/components';
  import AppHeaderIcon from './AppHeaderIcon.vue';

  Vue.use(Navbar);

  export default {
    name: 'HoscoHeader',
    components: {
      AppHeaderIcon,
    },
    props: {
      fixed: {
        required: false,
        type: Boolean,
        default: true,
      }
    },
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .profile-dropdown .nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
    align-items: center;
  }

  .hosco-navbar {
    width: 100%;
    position: relative;
    z-index: 200;
    box-shadow: 0 0 15px rgba($black, 0.15);

    &.is-fixed {
      position: fixed;
      top: 0;
    }

    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      height: 60px;
      line-height: 60px;
      font-size: pixel-to-rem(15px);
    }

    .navbar-brand {
      padding: 0 10px;
      height: 60px;
      border-right: 1px solid $hosco-soft-grey;
      display: flex;
      align-items: center;
    }
  }
</style>
