<template functional>
  <span class="AppHeaderIcon-container">
    <i :class="props.icon" class="AppHeaderIcon"/>
    <b-badge
      v-b-tooltip.hover
      v-if="props.count"
      :title="props.count"
      class="AppHeaderIcon-badge"
      variant="primary"
    >
      {{ props.count > 99 ? '99+' : props.count }}
    </b-badge>
  </span>
</template>

<script>
  import Vue from 'vue';
  import { Badge } from 'bootstrap-vue/es/components';

  Vue.use(Badge);

  export default {
    name: 'AppHeaderIcon',
    props: {
      icon: {
        required: true,
        type: String,
      },
      count: {
        required: false,
        type: Number,
        default: 0
      }
    },
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .AppHeaderIcon {
    font-size: 1.5625rem;

    &-container {
      position: relative;
    }

    &-badge {
      position: absolute;
      top: -15px;
      right: -10px;
    }
  }
</style>
