<template>
  <div :class="[$style.container, $style[size], {[$style.rounded]: rounded, [$style.shadow]: shadow}]">
    <a v-if="link" :href="link">
      <img :src="src" :alt="title" class="img-fluid">
    </a>
    <span v-else>
      <img :src="src" :alt="title" class="img-fluid">
    </span>
  </div>
</template>

<script>
  const SIZES = {XS: 'xs', SM: 'sm', MD: 'md', LG: 'lg'};

  export default {
    name: 'Avatar',
    props: {
      src: {
        required: true,
        type: String,
      },
      title: {
        required: false,
        type: String,
        default: '',
      },
      link: {
        required: false,
        type: String,
        default: '',
      },
      rounded: {
        required: false,
        type: Boolean,
        default: false,
      },
      shadow: {
        required: false,
        type: Boolean,
        default: false,
      },
      size: {
        required: false,
        type: String,
        default: SIZES.XS,
        validator: (v) => Object.values(SIZES).includes(v)

      }
    }
  }
</script>

<style lang="scss" module>
  @import '../../../scss/core';

  $sizes: (
    xs: 40px,
    sm: 60px,
    md: 80px,
    lg: 200px,
  );

  @each $size, $value in $sizes {
    .#{$size} {
      width: $value;
      height: $value;
    }
  }

  .container {
    position: relative;
  }

  .shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2px 0 rgba($black, 0.3);
  }

  .rounded {
    &.shadow::before {
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
    }
  }
</style>
