<template>
  <HoscoContainer class="hosco-container">
    <div class="hosco-content">
      <slot name="content"/>
    </div>
    <div class="hosco-sidebar">
      <slot name="sidebar"/>
    </div>
  </HoscoContainer>
</template>

<script>
  import HoscoContainer from '../Container/Container.vue';

  export default {
    name: 'TwoColsLayout',
    components: {
      HoscoContainer,
    }
  }
</script>

<style lang="scss">
  @import '../../../scss/core';
  
  .hosco-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hosco-content {
    flex: 1 1 0;
    min-width: 1px;
  }

  .hosco-sidebar {
    flex: 0 0 340px;
    margin-left: 20px;
    position: relative;
  }
</style>
