<template>
  <div :class="$style.container">
    <div :class="$style.header">
      <Avatar :src="news.owner.avatar" :title="news.owner.name" :class="$style.avatar" />
      <div :class="$style.info">
        <div :class="$style.name">
          {{ news.owner.name }}
        </div>
        <div :class="$style.story">
          {{ news.story }}
        </div>
        <router-link :to="{ name: 'news', params: { id: news.id } }" :class="$style.date">
          <DateTime :date="news.creation_date" />
        </router-link>
      </div>
    </div>
    <div :class="$style.content">
      {{ news.content }}
    </div>
    <div :class="$style.attachment">
      <template v-if="news.type === 'picture'" :class="$style.pictures">
        <img
          v-for="picture in news.thumbs"
          :key="picture.path"
          :src="picture.path"
          :alt="picture.title"
          class="img-fluid"
        >
      </template>
    </div>
    <div :class="$style.social">
      <div :class="$style.actionList">
        <a :class="[news.likeLoading && $style.actionLoading, $style.action]" href @click.prevent="toggleLike()">
          <template v-if="news.is_liked">
            <i class="fa fa-heart" /> Unlike
          </template>
          <template v-else>
            <i class="fa fa-heart-o" /> Like
          </template>
        </a>
        <a :class="$style.action" href @click.prevent="comment()">
          <i class="fa fa-comments-o" /> Comment
        </a>
        <a :class="[news.shareLoading && $style.actionLoading, $style.action]" href @click.prevent="share()">
          <i class="fa fa-share-alt" /> Share
        </a>
      </div>
      <div :class="$style.counters">
        <span v-if="news.like_count" :class="$style.count">
          {{ news.like_count }} <i class="fa fa-heart" />
        </span>
        <span v-if="news.comment_count" :class="$style.count">
          {{ news.comment_count }} <i class="fa fa-comments" />
        </span>
        <span v-if="news.share_count" :class="$style.count">
          {{ news.share_count }} <i class="fa fa-share-alt" />
        </span>
      </div>
    </div>
    <NewsCommentList :comments="news.comments" :comments-count="news.comment_count" :class="$style.comments" />
  </div>
</template>

<script>
  import DateTime from '../../UI/DateTime/DateTime.vue';
  import Avatar from '../../UI/Avatar/Avatar.vue';
  import NewsCommentList from '../CommentList/CommentList.vue';

  export default {
    name: 'NewsItem',
    components: {
      DateTime,
      Avatar,
      NewsCommentList,
    },
    props: {
      news: {
        type: Object,
        required: true,
      }
    },
    methods: {
      toggleLike() {
        if (this.news.likeLoading) {
          return;
        }

        this.$emit('news-like-toggled', this.news);
      },
      comment() {
        this.$emit('news-comment', this.news);
      },
      share() {
        if (this.news.shareLoading) {
          return;
        }

        this.$emit('news-share', this.news);
      }
    }
  }
</script>

<style lang="scss" module>
  @import '../../../scss/core';
  
  .container {
    background-color: $white;
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #d5d5d5;
    padding: 20px 15px 0;
    color: #666;
    font-size: 13px;
  }

  .header {
    display: flex;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .info {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
  }

  .avatar {
    width: 40px;
    margin-right: 10px;
  }

  .name {
    color: $hosco-darker-blue;
  }

  .story {
    color: $hosco-grey;
    margin-left: 5px;
  }

  .date {
    flex: 0 0 100%;
    font-weight: normal;
    font-size: 11px;
    margin-top: auto;
    color: inherit;
  }

  .content {
    word-wrap: break-word;
  }

  .attachment {
    margin-top: 10px;
  }

  .social {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 13px;
  }

  .action {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $hosco-blue;
      text-decoration: none;
    }
  }

  .action-loading {
    opacity: 0.5;
    cursor: wait;
  }

  .count {
    margin-left: 10px;
  }

  .comments {
    margin: 0 -15px;
  }
</style>
