<template>
  <div class="Widget">
    <div v-if="title" class="Widget-title">
      <i v-if="icon" :class="icon" class="Widget-icon"/> {{ title }}
    </div>

    <slot/>
  </div>
</template>

<script>
  export default {
    name: 'Widget',
    props: {
      title: {
        type: String,
        required: false,
        default: '',
      },
      icon: {
        type: String,
        required: false,
        default: '',
      }
    }
  }
</script>

<style lang="scss">
  @import '../../../scss/core';
  
  .Widget {
    white-space: normal;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #d5d5d5;
    padding: 10px;
    width: 100%;

    &-title {
      font-size: 0.8125rem;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin: 0 0 10px;
      border-bottom: 1px solid #eee;
    }

    &-icon {
      color: #1898c2;
      margin-right: 5px;
      font-size: 0.9375rem;
    }
  }
</style>
