<template>
  <HoscoWidget class="ProfileWidget">
    <Avatar :src="avatar" :title="name" :link="link" class="ProfileWidget-avatar" />
    <div class="ProfileWidget-info">
      <a :href="link" class="ProfileWidget-name">{{ name }}</a>

      <div class="ProfileWidget-position">{{ info }}</div>
    </div>
    <slot/>
  </HoscoWidget>
</template>


<script>
  import Avatar from '../../UI/Avatar/Avatar.vue';
  import HoscoWidget from '../Base/WidgetBase.vue';

  export default {
    name: 'ProfileWidget',
    components: {
      HoscoWidget,
      Avatar,
    },
    props: {
      name: {
        required: true,
        type: String
      },
      info: {
        required: true,
        type: String
      },
      avatar: {
        required: true,
        type: String
      },
      link: {
        required: true,
        type: String
      }
    }
  }
</script>
<style lang="scss">
  @import '../../../scss/core';

  .ProfileWidget {
    display: flex;

    &-avatar {
      flex: 0 0 40px;
      margin-right: 10px;
    }

    &-name {
      color: $hosco-darker-blue;
      font-size: 18px;
    }

    &-position {
      font-size: 13px;

      span,
      a {
        color: $hosco-darker-blue;
      }
    }

    &-info {
      flex: 1 1 0;
    }
  }
</style>
