<template>
  <TwoColsLayout>
    <template slot="content">
      <NewsForm :avatar="profile.avatar" :is-loading="isNewsCreationLoading" @news-published="onNewsPublished" />
      <Newsfeed :list="newsfeed.result" @news-like-toggled="onLikeToggled" @news-share="onNewsShared" />
    </template>
    <template slot="sidebar">
      <ProfileWidget
        :name="profile.name"
        :info="profile.title"
        :link="profile.url"
        :avatar="profile.avatar"
      />
      <HoscoWidget title="Suggested jobs" icon="fa fa-suitcase">
        <HoscoWidgetListItem
          v-for="job in suggestedJobs.items"
          :key="job.link"
          :title="job.title"
          :picture="job.picture"
          :link="job.link"
          :info="job.info"
        />
      </HoscoWidget>
    </template>
  </TwoColsLayout>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import TwoColsLayout from '../components/Layout/TwoCols/TwoCols.vue';
  import HoscoWidget from '../components/Widget/Base/WidgetBase.vue';
  import HoscoWidgetListItem from '../components/Widget/ListItem/WidgetListItem.vue';
  import ProfileWidget from '../components/Widget/Profile/WidgetProfile.vue';
  import NewsForm from '../components/News/Form/NewsForm.vue';
  import Newsfeed from '../components/News/Feed/NewsFeed.vue';
  import newsfeedModule from '../store/modules/newsfeed';

  export default {
    name: 'HomePage',
    components: {
      Newsfeed,
      TwoColsLayout,
      HoscoWidget,
      HoscoWidgetListItem,
      ProfileWidget,
      NewsForm,
    },
    computed: {
      ...mapState('newsfeed', ['newsfeed', 'isNewsCreationLoading']),
      ...mapState('jobs', ['suggestedJobs']),
      ...mapState('identity', ['profile']),
    },
    beforeCreate() {
      this.$store.registerModule('newsfeed', newsfeedModule);
    },
    created() {
      this.fetchNewsfeed();
      this.loadSuggestedJobs();
    },
    beforeDestroy() {
      this.$store.unregisterModule('newsfeed');
    },
    methods: {
      ...mapActions('newsfeed', ['fetchNewsfeed', 'addNews', 'toggleLike', 'shareNews']),
      ...mapActions('jobs', ['loadSuggestedJobs']),
      onLikeToggled(news) {
        this.toggleLike(news.id);
      },
      onNewsShared(news) {
        this.shareNews(news.id);
      },
      onNewsPublished(news) {
        this.addNews(news);
      }
    },
    metaInfo() {
      return {
        title: 'My Home'
      };
    },
  }
</script>

<style lang="scss">
/* empty css */
</style>
