<template>
  <TwoColsLayout>
    <template slot="content">
      <div v-if="news.isLoading">Loading...</div>
      <NewsItem v-else :news="news.result" @news-like-toggled="onLikeToggled" @news-share="onNewsShared" />
    </template>
    <template slot="sidebar">
      <ProfileWidget
        :name="profile.name"
        :info="profile.title"
        :link="profile.url"
        :avatar="profile.avatar"
      />
      <HoscoWidget title="Suggested jobs" icon="fa fa-suitcase">
        <HoscoWidgetListItem
          v-for="job in suggestedJobs.items"
          :key="job.link"
          :title="job.title"
          :picture="job.picture"
          :link="job.link"
          :info="job.info"
        />
      </HoscoWidget>
    </template>
  </TwoColsLayout>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import TwoColsLayout from '../components/Layout/TwoCols/TwoCols.vue';
  import HoscoWidget from '../components/Widget/Base/WidgetBase.vue';
  import HoscoWidgetListItem from '../components/Widget/ListItem/WidgetListItem.vue';
  import ProfileWidget from '../components/Widget/Profile/WidgetProfile.vue';
  import NewsItem from '../components/News/Item/NewsItem.vue';
  import newsModule from '../store/modules/news';

  export default {
    name: 'NewsPage',
    components: {
      TwoColsLayout,
      HoscoWidget,
      HoscoWidgetListItem,
      ProfileWidget,
      NewsItem,
    },
    computed: {
      ...mapState('news', ['news']),
      ...mapState('jobs', ['suggestedJobs']),
      ...mapState('identity', ['profile']),
    },
    beforeCreate() {
      this.$store.registerModule('news', newsModule);
    },
    created() {
      this.fetchNews(+this.$route.params.id);
      this.loadSuggestedJobs();
    },
    beforeDestroy() {
      this.$store.unregisterModule('news');
    },
    methods: {
      ...mapActions('news', ['fetchNews', 'toggleLike', 'shareNews']),
      ...mapActions('jobs', ['loadSuggestedJobs']),
      getTitle() {
        if (this.news.error) {
          return 'An error occurred';
        }

        if (this.news.result) {
          return this.news.result.owner.name + ' ' + this.news.result.story;
        }

        return 'Loading...';
      },
      onLikeToggled() {
        this.toggleLike();
      },
      onNewsShared() {
        this.shareNews();
      },
    },
    metaInfo() {
      return {
        title: this.getTitle()
      };
    },
  }
</script>

<style lang="scss">
/* empty css */
</style>
