<template>
  <div class="NotFound">
    <Container>
      <h1>Sorry, page no found</h1>
      <p>
        Try again or go to the <router-link :to="{ name: 'home' }">home page</router-link>.
      </p>
    </Container>
  </div>
</template>

<script>
  import Container from '../components/Layout/Container/Container.vue';

  export default {
    name: 'NotFoundPage',
    components: {Container},
    metaInfo() {
      return {
        title: 'Page not found',
      };
    }
  }
</script>

<style lang="scss">
/* empty css */
</style>
