<template>
  <div class="Newsfeed">
    <NewsItem 
      v-for="news in list" 
      :key="news.id" 
      :news="news" 
      class="Newsfeed-item"
      v-on="$listeners" />
  </div>
</template>

<script>
  import NewsItem from '../Item/NewsItem.vue';

  export default {
    name: 'Newsfeed',
    components: {
      NewsItem,
    },
    props: {
      list: {
        required: true,
        type: Array
      }
    },
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .Newsfeed {
    &-item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
</style>
