<template>
  <div class="WidgetListItem">
    <Avatar :href="link" :title="title" :src="picture" class="WidgetListItem-logo" />
    <div class="WidgetListItem-title">
      <a v-b-tooltip.hover="title" :href="link" class="WidgetListItem-name">
        {{ title }}
      </a>
      <div v-b-tooltip.hover="info" class="WidgetListItem-info">
        {{ info }}
      </div>
    </div>
  </div>
</template>

<script>
  import Avatar from '../../UI/Avatar/Avatar.vue';

  export default {
    name: 'WidgetListItem',
    components: {
      Avatar,
    },
    props: {
      title: {
        required: true,
        type: String,
      },
      info: {
        required: true,
        type: String,
      },
      link: {
        required: true,
        type: String,
      },
      picture: {
        required: true,
        type: String,
      }
    },
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .WidgetListItem {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;

    &-logo {
      width: 40px;
    }

    &-title {
      @include text-truncate();

      flex: 1 1 0;
      padding: 0 0 0 10px;
    }

    &-name {
      font-size: 13px;
      color: #1898c2;
      display: inline;
    }

    &-info {
      @include text-truncate();

      font-size: 12px;
      display: block;
      width: auto;
    }
  }
</style>
