<template functional>
  <div class="hosco-container">
    <slot/>
  </div>
</template>

<script>
  export default {
    name: 'Container',
  }
</script>

<style lang="scss">
  @import '../../../scss/core';

  .hosco-container {
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;
  }
</style>
