<template>
  <div class="StoryPage">
    <StoryHeader :component="component" />
    <StoryPreview :theme="theme">
      <slot />
    </StoryPreview>
    <StoryUsage :component="component" :slots="slots" />
    <StoryProps :component="component" />
  </div>
</template>

<script>
  import StoryHeader from './StoryHeader.vue';
  import StoryPreview from './StoryPreview.vue';
  import StoryProps from './StoryProps.vue';
  import StoryUsage from './StoryUsage.vue';

  export default {
    name: 'StoryPage',
    components: {
      StoryHeader,
      StoryPreview,
      StoryProps,
      StoryUsage,
    },
    props: {
      component: {
        required: true,
        type: Object,
      },
      theme: {
        required: false,
        type: String,
        default: 'light'
      },
      slots: {
        required: false,
        type: Array,
        default: () => []
      }
    }
  }
</script>

<style lang="scss">
  .StoryPage {
    padding: 20px;
  }
</style>
