<template functional>
  <div :style="{width: props.size}" :class="['is-align-' + props.align, 'is-valign-' + props.vAlign]" class="StoryContainer">
    <slot/>
  </div>
</template>

<script>
  const ALIGN = {LEFT: 'left', RIGHT: 'right', CENTER: 'center'};
  const VALIGN = {TOP: 'top', BOTTOM: 'bottom', CENTER: 'center'};

  export default {
    name: 'StoryContainer',
    props: {
      size: {
        required: false,
        type: [Number, String],
        default: '100%',
      },
      align: {
        required: false,
        type: String,
        default: ALIGN.LEFT,
        validator: (v) => Object.values(ALIGN).includes(v),
      },
      vAlign: {
        required: false,
        type: String,
        default: VALIGN.TOP,
        validator: (v) => Object.values(VALIGN).includes(v),
      },
    }
  }
</script>

<style lang="scss">
  $align: (left: flex-start, right: flex-end, center: center);
  $v-align: (top: flex-start, bottom: flex-end, center: center);

  .StoryContainer {
    display: flex;

    &.is-align {
      @each $name, $value in $align {
        &-#{$name} {
          justify-content: $value;
        }
      }
    }

    &.is-valign {
      @each $name, $value in $v-align {
        &-#{$name} {
          align-items: $value;
        }
      }
    }
  }
</style>
