<template>
  <div :style="{paddingLeft: padding}" class="StoryUsageBlock">
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'StoryUsageBlock',
    props: {
      tabSize: {
        required: false,
        type: Number,
        default: 1,
      }
    },
    computed: {
      padding() {
        return (this.tabSize * 15) + 'px';
      }
    },
  }
</script>

<style lang="scss">
  .StoryUsageBlock {
    display: block;
  }
</style>
