<template>
  <StorySection v-if="component.props" class="StoryProps" title="Props">
    <b-table key="name" :items="tableItems" striped hover/>
  </StorySection>
</template>

<script>
  import StorySection from './StorySection.vue';

  export default {
    name: 'StoryProps',
    components: {
      StorySection,
    },
    props: {
      component: {
        required: true,
        type: Object,
      }
    },
    computed: {
      tableItems() {
        let props = this.component.props;

        if (!props) {
          return null;
        }

        return Object.keys(props).map(k => {
          let prop = props[k];

          return {
            name: k,
            type: this.getTypes(prop.type),
            required: prop.required ? 'yes' : 'no',
            default: prop.default !== undefined ? prop.default : 'null'
          };
        });
      }
    },
    methods: {
      getTypes(type) {
        if (Array.isArray(type)) {
          return type.map(v => this.getTypes(v)).join(' | ');
        }

        return type && type.name ? type.name : 'any';
      },
    }
  }
</script>

<style lang="scss">
  .StoryProps {
    position: relative;
  }
</style>
