<template>
  <div class="StorySection">
    <h2 v-if="title" class="StorySection-title">{{ title }}</h2>
    <slot/>
  </div>
</template>

<script>
  export default {
    name: 'StorySection',
    props: {
      title: {
        required: false,
        type: String,
        default: null,
      },
    }
  }
</script>

<style lang="scss">
  .StorySection {
    margin-bottom: 50px;

    &-title {
      font-size: 20px;
      font-weight: normal;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid #e4e4e4;
    }
  }
</style>
