<template>
  <StorySection class="StoryUsage" title="Usage">
    <code class="StoryUsage-code">
      <StoryUsageBlock :tab-size="0">
        <div class="elm">&lt;template&gt;</div>

        <StoryUsageBlock v-if="props.length">
          <div class="elm">&lt;{{ component.name }}</div>
          <StoryUsageBlock v-for="prop in props" :key="prop">
            :{{ prop }}=<span class="attr-v">"{{ prop }}"</span>
          </StoryUsageBlock>

          <span v-if="slots.length === 0" class="elm">/&gt;</span>
          <span v-else class="elm">&gt;</span>
        </StoryUsageBlock>
        <StoryUsageBlock v-else>
          <span class="elm">&lt;{{ component.name }}</span>

          <span v-if="slots.length === 0" class="elm">/&gt;</span>
          <span v-else class="elm">&gt;</span>
        </StoryUsageBlock>

        <StoryUsageBlock v-if="slots.length">
          <StoryUsageBlock v-for="slot in slots" :key="slot">
            <div v-if="slot !== 'default'">
              <span class="elm">&lt;div</span>
              slot=<span class="attr-v">"{{ slot }}"</span>
              <span class="elm">&gt;</span>
              <StoryUsageBlock>Lorem ipsum</StoryUsageBlock>
              <span class="elm">&lt;div&gt;</span>
            </div>
            <div v-else>
              Lorem ipsum
            </div>
          </StoryUsageBlock>

          <div class="elm">&lt;/{{ component.name }}&gt;</div>
        </StoryUsageBlock>

        <div class="elm">&lt;template&gt;</div>
      </StoryUsageBlock>

      <br>

      <StoryUsageBlock :tab-size="0">
        <div class="elm">&lt;script&gt;</div>

        <StoryUsageBlock>
          <div>
            <span class="kw">import </span>{{ component.name }}<span class="kw"> from</span><span class="string"> '{{ source }}'</span>;
          </div>

          <br>

          <div>
            <span class="kw">export default</span> {
          </div>
          <StoryUsageBlock>
            <div>name: <span class="string">'MyComponent'</span>,</div>
            <div>components: {</div>
            <StoryUsageBlock>{{ component.name }},</StoryUsageBlock>
            <div>}</div>
          </StoryUsageBlock>
          <div>}</div>
        </StoryUsageBlock>

        <div class="elm">&lt;/script&gt;</div>
      </StoryUsageBlock>
    </code>
  </StorySection>
</template>

<script>
  import StorySection from './StorySection.vue';
  import StoryUsageBlock from './StoryUsageBlock.vue';

  export default {
    name: 'StoryUsage',
    components: {
      StorySection,
      StoryUsageBlock,
    },
    props: {
      component: {
        required: true,
        type: Object,
      },
      slots: {
        required: false,
        type: Array,
        default: () => []
      }
    },
    computed: {
      source() {
        return `path/to/components/${ this.component.name }.vue`;
      },
      props() {
        return this.component.props ? Object.keys(this.component.props) : [];
      }
    }
  }
</script>

<style lang="scss" scoped>
  .StoryUsage {
    &-code {
      display: block;
      padding: 10px 15px;
      background-color: #333;
      font-family: monospace;
      color: #fff;
      font-size: 14px;
    }

    &-line {
      white-space: pre;
    }
  }

  .kw {
    font-weight: bold;
    color: #cc7832;
  }

  .string {
    color: #6a8759;
  }

  .elm {
    color: #e8bf6a;
  }

  .attr-v {
    color: #a5c261;
  }
</style>
