<template>
  <header class="StoryHeader">
    <code class="StoryHeader-title">&lt;{{ component.name }} /&gt;</code>
    <a :href="sourceUrl" target="_blank" class="StoryHeader-source">
      View source
      <i class="fa fa-external-link" />
    </a>
  </header>
</template>

<script>
  const REPO_URL = 'https://gitlab.com/clemgrim/newsfeed-vue/tree/master/';

  export default {
    name: 'StoryHeader',
    props: {
      component: {
        required: true,
        type: Object,
      }
    },
    computed: {
      sourceUrl() {
        return REPO_URL + this.component.__file;
      }
    }
  }
</script>

<style lang="scss">
  .StoryHeader {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 25px;
      font-weight: bold;
    }

    &-source {
      text-decoration: none;
      font-size: 16px;
    }
  }
</style>
