<template>
  <StorySection title="Preview" class="StoryPreview">
    <div :class="'is-' + theme" class="StoryPreview-content">
      <slot/>
    </div>
  </StorySection>
</template>

<script>
  import StorySection from './StorySection.vue';

  const THEME = {DARK: 'dark', LIGHT: 'light'};

  export default {
    name: 'StoryPreview',
    components: {
      StorySection,
    },
    props: {
      theme: {
        required: false,
        type: String,
        default: THEME.LIGHT,
        validator: (v) => Object.values(THEME).includes(v)
      }
    }
  }
</script>

<style lang="scss">
  .StoryPreview-content {
    padding: 20px;

    &.is-light {
      background-color: #fff;
    }

    &.is-dark {
      background-color: #f7f7f7;
    }
  }
</style>
