<template>
  <div id="wrapper" class="hosco-wrapper">
    <AppHeader v-if="showHeader" />
    <main class="hosco-content-container">
      <router-view />
    </main>
    <AppFooter v-if="showFooter" />
  </div>
</template>

<script>
  import Vue from 'vue';
  import { Button } from 'bootstrap-vue/es/components';
  import { Tooltip } from 'bootstrap-vue/es/directives';
  import AppHeader from './components/Layout/AppHeader/AppHeader.vue'
  import AppFooter from './components/Layout/AppFooter/AppFooter.vue';

  Vue.use(Button);
  Vue.use(Tooltip);

  export default {
    name: 'App',
    components: {
      AppFooter,
      AppHeader
    },
    data() {
      return {
        showFooter: true,
        showHeader: true,
      };
    },
    metaInfo() {
      return {
        titleTemplate: '%s - Hosco'
      };
    },
    watch: {
      $route(route) {
        this.showFooter = route.meta.noFooter !== true;
        this.showHeader = route.meta.noHeader !== true;
      }
    }
  }
</script>

<style lang="scss">
  @import './scss/core';
  @import '~bootstrap/scss/bootstrap';
  @import '~bootstrap-vue/dist/bootstrap-vue.css';

  .hosco-wrapper {
    padding-top: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .hosco-content-container {
    flex: 1 0 auto;
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 60px;
  }
</style>
