@import "functions.scss";

// Colors
$hosco-very-lightest-blue: #edf7fa;
$hosco-very-lighter-blue: #d9eef5;
$hosco-very-light-blue: #c7e6f0;

$hosco-lighter-blue: #63bbd8;
$hosco-info-blue: #5bc0de;
$hosco-light-blue: #00a0d5;
$hosco-blue: #1898c2;
$hosco-pale-blue: #267cb8;
$hosco-sapphire-blue: #3f51b5;
$hosco-darker-blue: #115c87;
$hosco-very-dark-blue: #004c6d;
$hosco-night-blue: #1a2d3a;
$hosco-deep-blue: #082c42;
$hosco-deeper-blue: #021019;
$hosco-chat-blue: #dfeaed;

$hosco-grey-blue: #526b7a;
$hosco-light-grey-blue: #868e96;
$hosco-brighter-grey: #f5f5f5;
$hosco-bright-grey: #f7f7f7;
$hosco-soft-grey: #e4e4e4;
$hosco-silver-light-grey: #d5d5d5;
$hosco-silver-grey: #ccc;
$hosco-lighter-grey: #eee;
$hosco-light-grey: #bbb;
$hosco-grey: #999;
$hosco-dark-grey: #808080;
$hosco-softer-black: #666;
$hosco-soft-black: #333;
$hosco-lighter-black: #292929;
$hosco-light-black: #1e1e1e;
$hosco-dark-black: #101010;

$hosco-bright-yellow: #ffc300;
$hosco-yellow: #ffd77e;
$hosco-pale-yellow: #fffbd6;
$hosco-lighter-yellow: #fcf8e3;
$hosco-bright-green: #00d563;
$hosco-lighter-green: #61bd6d;
$hosco-light-green: #13d354;
$hosco-medium-green: #02c35c;
$hosco-dark-green: #02aa50;
$hosco-green: #319c29;
$hosco-red: #843534;
$hosco-bright-red: #d41638;
$hosco-brighter-red: #e71a4b;
$hosco-red-pink: #ff3e62;
$hosco-pale-red: #ff7775;

$brand-primary: $hosco-blue;

// Hosco plus colors
$hosco-plus-all: #439abd;
$hosco-plus-cat1: #4ac191;
$hosco-plus-cat2: #f2c15d;
$hosco-plus-cat3: #e6e664;
$hosco-plus-cat4: #bf53b6;
$hosco-plus-link: #1197c2;
$hosco-article-title: #3285b2;
$hosco-article-content: #222;
$hosco-article-link: #00f;

// Misc
$hosco-pink: #e971d3;
$hosco-orange: #ff5e33;
$hosco-gold: #f0ad4e;

// hosco error colors
$hosco-error-text: #a94442;
$hosco-warning-text: #f0ad4e;
$hosco-error-background: #f2dede;
$hosco-error-border: #ebccd1;

// Social links colors
$hosco-facebook: #3b5998;
$hosco-twitter: #1da1f2;
$hosco-linkedin: #0077b5;
$hosco-whatsapp: #25d366;
$hosco-messenger: #0084ff;
$hosco-youtube: #f00;
$hosco-instagram: #3f729b;
$hosco-googleplus: #dd4b39;
$hosco-weibo: #ffa00a;
$hosco-rss: #f26522;

// Fonts
$hosco-icon-font-name: 'HoscoAwesome';
$hosco-icon-font-prefix: 'ha';
$hosco-fallback-fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$hosco-open-sans: "Open Sans", $hosco-fallback-fonts;
$hosco-open-sans-condensed: "Open Sans Condensed", $hosco-fallback-fonts;
$hosco-montserrat: "Montserrat", $hosco-fallback-fonts;
$hosco-lato: "Lato", sans-serif;

// zIndex
$zindex-hosco-header: 200;
$zindex-hosco-app-promotion: 201;
$zindex-cookie-popup: 99;
$zindex-hosco-badge-navbar: 99;
$zindex-hosco-badge: 20;
$zindex-hosco-badge-info: 15;
$zindex-hosco-badge-toggler: 15;
$zindex-directory-logo: 3;
$zindex-directory-top: 4;
$zindex-directory-label: 5;
$zindex-directory-carousel-sidebar: 20;
$zindex-album-thumb-after: 5;
$zindex-album-btn: 6;
$zindex-album-disabled: 9;
$zindex-album-media-expanded: 9;
$zindex-lightbox: 1049;
$zindex-lightbox-control: 1052;
$zindex-sidebar: 100;
$zindex-sidebar-toggle: 101;
$zindex-candidate-sidebar: 14;
$zindex-candidate-sidebar-toggle: $zindex-candidate-sidebar + 1;

// Custom navbar variables
$hosco-navbar-height: 60px;
$hosco-new-navbar-height: 50px;
$hosco-navbar-sm-height: 30px;
$hosco-navbar-link-padding-x: pixel-to-rem(15px);
$hosco-app-promotion-height: 50px;

// hosco layout
$hosco-container-width: 950px;
$hosco-container-padding-x: 15px;
$hosco-container-padding-top: 20px;
$hosco-container-padding-bottom: 60px;
$hosco-container-bg: #efefef;
$hosco-sidebar-width: 320px;
$hosco-sidebar-gutter: 20px;
$hosco-content-width: 830px;

// hosco badge...
$hosco-badge-picture-width: 140px;
$hosco-badge-picture-width-sm: 100px;
$hosco-badge-picture-border-width: 2px;
$hosco-badge-picture-bottom: 15px;
$hosco-badge-picture-right: 15px;
$hosco-badge-info-offset: 10px;
$hosco-badge-info-offset-sm: 75px;
$hosco-badge-height: 300px;
$hosco-badge-height-sm: 250px;
$hosco-badge-sm-height: 225px;
$hosco-badge-sm-height-sm: 200px;
$hosco-badge-navbar-height: 50px;
$hosco-badge-stat-bg: #41abcd;

// Candidate sidebar
$candidate-sidebar-top: 130px;
$candidate-sidebar-title-height: 45px;
$candidate-sidebar-margin: 20px;
$candidate-sidebar-toggle-width: 40px;
$candidate-sidebar-width: 255px;

// modal
$modal-smd: 480px;
$modal-xl: 1200px;

// Corporate blocks
$corporate-block-gutter: 15px;
$corporate-icon-width: 27px;

// hosco cards
$hosco-card-border-bottom-color: $hosco-silver-grey;
$hosco-card-border-right-color: $hosco-silver-light-grey;
$hosco-card-bg: #fff;

// hosco material
$md-input-border-color: $hosco-silver-grey;
$md-input-error-color: $hosco-red-pink;
$md-input-focus-color: $hosco-blue;
$md-input-height: 36px;

////////////////////////
// Bootstrap overwrite
///////////////////////

// Colors
$blue: $hosco-blue;

// Typography
$font-family-sans-serif: $hosco-open-sans;
$font-size-base: pixel-to-rem(14px);
$font-size-sm: pixel-to-rem(12px);
$h1-font-size: pixel-to-rem(36px);
$h2-font-size: pixel-to-rem(30px);
$h3-font-size: pixel-to-rem(24px);
$link-color: $hosco-blue;
$link-hover-color: $hosco-darker-blue;
$body-color: #535353;
$line-height-base: 1.7;

// No border radius
$enable-rounded: false;

// Buttons
$btn-focus-box-shadow: none;

// Navbar
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $navbar-dark-color;
$navbar-light-active-color: $navbar-dark-color;
$navbar-light-color: $hosco-grey-blue;
$navbar-light-hover-color: $hosco-blue;
$navbar-light-active-color: $hosco-blue;
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$hosco-blue}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-font-size: pixel-to-rem(15px);
$navbar-nav-link-padding-x: pixel-to-rem(15px);
$navbar-brand-height: pixel-to-rem($hosco-navbar-height);
$navbar-brand-padding-y: 0;

// Dropdown
$dropdown-padding-y: pixel-to-rem(5px);
$dropdown-item-padding-x: pixel-to-rem(20px);
$dropdown-spacer: 0;

// Modal
$modal-md: 610px;

// Grid
$grid-gutter-width: 20px;

// Badges
$badge-padding-y: 0.3em;
$badge-padding-x: 0.6em;

// Pagination
$pagination-color: $hosco-darker-blue;
$pagination-active-bg: $hosco-darker-blue;
$pagination-active-border-color: $pagination-active-bg;

// Breadcrumb
$breadcrumb-bg: $hosco-brighter-grey;
$breadcrumb-divider-color: $hosco-silver-grey;
$breadcrumb-padding-y: 8px;
$breadcrumb-padding-x: 15px;

// Bootstrap variable
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Overwrite map variables
$theme-colors: map-merge($theme-colors, (info: $hosco-info-blue));
